@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply m-0 bg-[#030D1C] p-0 text-slate-300 antialiased;
  font-family: inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: -0.01rem;
  /* @apply lg:bg-red-400 xl:bg-blue-500 2xl:bg-green-500; */
}
body {
  @apply m-0 px-6 md:px-12 xl:px-20;
}
body:before {
  @apply fixed inset-0;
  content: "";
  background: #030d1c url(http://localhost/automaze/bg.jpg) left 0 top 50% no-repeat;
  background-attachment: fixed;
}
body > main {
  @apply relative mx-auto grid max-w-md lg:container lg:grid-cols-2 lg:gap-8 xl:grid-cols-11 xl:gap-x-12 2xl:max-w-[1536px];
}

#about {
  @apply top-0 max-w-xl self-start pt-8 lg:sticky lg:h-screen xl:col-span-5 lg:pt-40 2xl:pt-52;
}

#about img.avatar {
  @apply h-24 w-24 rounded-full bg-white/10 p-0.5 shadow-2xl lg:h-28 lg:w-28 xl:h-32 xl:w-32;
  /* @apply 2xl:h-[9rem] 2xl:w-[9rem] */
}

#about h1 {
  @apply mt-10 text-3xl font-bold tracking-tight text-white xl:text-4xl 2xl:text-[2.5rem];
}
#about h3 {
  @apply my-5 text-lg font-normal leading-normal opacity-80 xl:text-[1.35rem];
  letter-spacing: -0.02rem;
}
#about a {
  @apply mb-16 mt-6 flex items-center text-base font-normal text-inherit opacity-80 transition-opacity hover:opacity-100 lg:mt-8 xl:mt-10 xl:text-lg;
}
#about a svg {
  @apply -mt-px mr-1.5 h-4 w-4 xl:h-5 xl:w-5;
}
#about footer {
  @apply absolute bottom-6 text-sm opacity-60 lg:bottom-8;
}

#portfolio {
  @apply mb-12 grid gap-x-8 pt-8 leading-7 lg:mb-0 xl:col-span-6 xl:grid-cols-2;
}
#portfolio > div:first-of-type {
  @apply col-span-1 xl:mt-44;
}
#portfolio a {
  @apply mb-8 block rounded-2xl border border-slate-800/70 hover:border-slate-700 transition-all duration-300 bg-black/50 p-6 text-[.9125rem] leading-normal shadow-xl 2xl:bg-[rgb(255_255_255_/_.025)];
}
#portfolio img.favicon {
  @apply mb-5 h-10 w-10 rounded-lg bg-white shadow-sm;
}
#portfolio figure {
  @apply mb-1 mt-8;
}
#portfolio figure img {
  @apply max-w-full rounded-xl shadow-sm;
}
#portfolio h3 {
  @apply text-base font-semibold;
}
#portfolio p {
  @apply my-2;
}
#portfolio address {
  @apply text-sm not-italic text-inherit opacity-60;
}
